body {
    background-color: #000;
    color: white;
    margin: 5%;
}

div img {
    display: block;
    margin: auto;
    width: 50%
}

div h1 {
    color: purple;
}

div p {
    color: gray;
}

div {
    text-align: center;
}

.card {
    padding: 10px;
    float: left;
    background-color: rebeccapurple;
}