body {
    background-color: #000;
    color: white;
    margin: 5% 5% 0;
}

.mascotte {
    display: block;
    margin: auto;
    width: 50%
}

div h1, div h2 {
    color: purple;
}

div p {
    color: gray;
}

div {
    text-align: center;
}