@import url('root.css');

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--font-primary);
}

.text-highlight {
    color: var(--text-primary)
}

.subtitle {
    color: var(--subtitle);
}

.flex-container{
    width: 100%;
    height: 97vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

img {
    text-align: right;
    float: right !important;
}

.ml-50 {
    margin-left: 50px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

#volunteer {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px){
    #volunteer {display: block}
    #logo {display: none !important;}
    #team {display: block !important;text-align: center}
    img {float: unset !important;}
    .mr-50 {margin: unset}
    .ml-50 {margin: unset}
    #mascotte {text-align: center !important}
}

.btn {
    padding: 10px max(2.1875rem, min(calc(2.142rem + .1942vw), 2.375rem));
    border-radius: 1000px;
    border: hidden;
    font-size: 16px;
    margin-right: 10px;
}

.btn-primary {
    background-color: var(--main-primary);
    color: var(--white)
}

.btn-primary:hover {
    background-color: var(--main-secondary);
}

b {
    color: var(--black);
}

.footer {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 0 0;
    align-items: center;
}

.copyright {
    font-size: 18px;
}

.center {
    text-align: center;
}

.container {
    margin: auto;
    width: 50%
}

.image-text-align {
    display: flex;
}

.image-round {
    border-radius: 50%;
    border-style: groove;
}

@media screen and (max-width: 800px) {
    .image-text-align {
        display: unset;
    }

    .image-text-align img {
        text-align: center;
    }

    .container {
        width: unset;
    }
}

div#team {
    white-space: nowrap;
}